[Unit]
Description=v2rayN HTTP Time Sync (замена NTP для блокированных сетей)
Documentation=https://github.com/ZDarow/V_2_R_A_Y_N
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync-time.sh
User=root
Nice=10
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
